body{
    padding: 1%;
    padding-top: 0%;
    background: rgb(132,131,142);
    background: linear-gradient(311deg, rgba(132,131,142,1) 0%, rgba(237,239,239,1) 100%);
}

button{
    border-radius: 10px;
}

.rradio{
    margin: 6px;
}

.maestro{
    display: flex;
    flex-direction: row;
    height: 750px;
    width: 40%;
}

.botones{
    margin-top: 20px;
}

.botones button{
    margin-top: 7px;
    margin-right: 3px;
    box-shadow: 1px 3px 2px black;
}

#genera{
    width: 379px;
    margin-top: 15px;
    box-shadow: 1px 3px 2px black;
}